:root {
    --main-bg-color: #2b2b2b;
    --text-color: #27dbff;
    --btn-hover-bg: #3c3c3c;
    --modal-overlay-bg: rgba(43, 43, 43, 0.85);
    --modal-content-bg: rgba(43, 43, 43, 0.9);
    --modal-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction:row;
    height: 100vh;
  }

  header {
  width: 250px;
  background-color: #222;
  color: whitesmoke;
  padding: 1rem;
}

main {
  flex: 1;
  background-color: #222;
  padding: 1rem;
  color: whitesmoke;
  text-align: center;
}

#navigation_list{
  list-style: none;
}

#links_list{
  list-style: none;
  justify-content: space-between;
  display: inline-flex;
}